[Unit]
Description=Сервис компьютерного зрения UNO Q
After=network.target

[Service]
Type=simple
User=arduino
Group=arduino
SupplementaryGroups=video
WorkingDirectory=/home/work/robot
Environment=PYTHONUNBUFFERED=1
ExecStart=/usr/bin/python3 /home/work/robot/app.py
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
